node_modules
test/actual
test/fixtures
examples
schema/
test/
testData/
/.babelrc
/.eslintrc.js
/.travis.yml
/dcm4chee-docker-compose.env
/dcm4chee-docker-compose.yml
/karma.conf.js
/rollup.config.js
/test.sh
/test_ci.sh
.idea
/src/